In [1]:
import geopandas as gpd
import pandas as pd

In [2]:
citys = gpd.read_file(r".\USA\gadm41_USA_2.shp")

In [4]:
citys[citys['NAME_2'] == 'Aleutians West']

,GID_2,GID_0,COUNTRY,GID_1,NAME_1,NL_NAME_1,NAME_2,VARNAME_2,NL_NAME_2,TYPE_2,ENGTYPE_2,CC_2,HASC_2,geometry
68,USA.2.2_1,USA,United States,USA.2_1,Alaska,NA,Aleutians West,NA,NA,Census Area,Census Area,NA,US.AK.AW,"MULTIPOLYGON (((-179.12889 51.21250, -179.1288..."