In [1]:
import geopandas as gpd
import pandas as pd

In [ ]:
citys = gpd.read_file(r".\USA\gadm41_USA_2.shp")

In [2]:
total = pd.read_csv(r"E:\WordPop\results\total_population_by_city.csv")

In [3]:
total

           GID_2                NAME_2                NAME_1  total_population
0     USA.1.10_1              Cherokee               Alabama      22311.604721
1     USA.1.11_1               Chilton               Alabama      43178.134979
2     USA.1.12_1               Choctaw               Alabama      10612.412399
3     USA.1.13_1                Clarke               Alabama      18812.783569
4     USA.1.14_1                  Clay               Alabama      13591.496941
...          ...                   ...                   ...               ...
3143   USA.7.8_1               Windham           Connecticut     116749.269348
3144   USA.8.1_1                  Kent              Delaware     183208.455688
3145   USA.8.2_1            New Castle              Delaware     556599.211182
3146   USA.8.3_1                Sussex              Delaware     246381.693848
3147   USA.9.1_1  District of Columbia  District of Columbia     456057.495117

[3148 rows x 4 columns]

In [4]:
total['total_population'].sum()

np.float64(347295260.34581566)